body {
  background-color: #e4e4e4;
}

.hero {
  height: 100vh;
  margin: auto;
  padding: 20px;
  text-align: center;
}
h1 {
  font-size: 46px;
}

.video {
  background-color: black;
  width: 100%;
  height: 500px;
}
